{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Our dishes
    <a href="{% url 'sushi:dish-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  <form action="" method="get" class="form-inline" novalidate>
    {{ search_form|crispy }}
    <input class="btn btn-primary" type="submit" value="Find!">
  </form>

  <br>
  {% if dish_list %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Price (USD)</th>
        <th>Dish type</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    {% for dish in dish_list %}
      <tr>
        <td><a href="{% url 'sushi:dish-detail' pk=dish.id %}">{{ dish.name }}</a></td>
        <td>{{ dish.price }}</td>
        <td>{{ dish.dish_type }}</td>
        <td><a class="btn btn-primary" href="{% url 'sushi:dish-update' pk=dish.id %}">
          Update
        </a></td>
        <td><a class="btn btn-danger" href="{% url 'sushi:dish-delete' pk=dish.id %}">
          Delete
        </a></td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>Sorry. There are no dishes in the service.</p>
  {% endif %}
{% endblock %}
