<div class="topnav">

  <a href="{% url 'sushi:index' %}" class="nav-element">Home</a>
  <a href="{% url 'sushi:cooks-list' %}" class="nav-element">Cooks</a>
  <a href="{% url 'sushi:dishes-list' %}" class="nav-element">Dishes</a>
  <a href="{% url 'sushi:dish-types-list' %}" class="nav-element">Dish types</a>
  {% if user.is_authenticated  %}
    <a href="{{ user.get_absolute_url }}" class="nav-element">{{ user.get_username }}</a>
    <a href="{% url 'logout' %}" class="nav-element">Logout</a>
  {% else %}
    <a href="{% url 'login'%}?next={{request.path}}" class="nav-element">Log in</a>
  {% endif %}

</div>
